@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>I designed this app to combat the bloat seen on other Fantasy Football sites including ads, videos and other unneccessary information popping up when you didnt want it.  It is designed to be a light-weight solution to modern app software problems.</p>
