
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>NOTE: This button only needs to be clicked *ONCE* per week</p>
<h2><a asp-area="" asp-controller="Home" asp-action="UpdateDatabase">Update</a></h2>