@model Fantasy_Football.Models.ApplicationUser

@{
    ViewData["Title"] = "My Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Teams</h2>
<ul>
    @foreach(var team in Model.Teams)
    {
        <li><a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name - @team.League.Name</a></li>

    }
</ul>